.barra-nav {
  display: flex;
  flex-direction: column;
}
.anuncio {
  min-width: 100%;
  margin-left:10vh;
  background-color:#62b6b7;
  display: inline;    
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  color: black;
}
.barra-nav-container {
  width: 100%;
  padding-top: 9vh;
  justify-content: space-between;
  display: flex;
}
.categorias {
  display: flex;
  justify-content: space-between;
  flex: start;
  align-items: center;
}
.links {
  margin-left: 2vh;
  margin-right: 2vh;
  text-decoration: none;
  color: black;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 1.1em;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.interactuar {
  padding: 0vh 2vh 0vh 2vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1vh;
}
