.footer-contenedor{
    height:70vh;
    background-color:#f2deba;
    display: flex;
    flex-direction: column;
}
.fila{
text-align: center;

}
.subscribe{
    background-color:#2dcddf;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.subscribe button{
    width: 10%;
}
.subscribe input{
    width: 30%;
}
#info {
    text-align: start;
    flex: 2;
}

