.destacados {

  padding-top: 2vh;
}
.products {

  padding-top: 15vh;
}
.texto-top {
  margin-left: 2vh;
  font-family: "Oswald", sans-serif;
  text-align: start;
  color: black;
  font-size: 2rem;
}
#vermas {
  margin-top:5vh;
  height: auto;
  width: 100%;
  display: flex;
  gap: 3%;
}
#vermas-card{
  width: 50vh;
  height: auto;
}
#prever{
  height: 80vh;
}
#about-img{
    height: 30vh;
    width: 30vh;
}
.a {
  font-family: "Oswald", sans-serif;
  text-align: start;
  color: black;
  text-decoration: none;
}

.about-us{
  height: auto;
   width: 90%;
    display:flex;
    gap: 5vh;
    justify-content: center;
    padding-bottom: 10vh;
    padding-top:10vh;
}

a{
  text-decoration: none;
}