.destacados {

  padding-top: 2vh;
}
.products {

  padding-top: 15vh;
}
.texto-top {
  margin-left: 2vh;
  font-family: "Oswald", sans-serif;
  text-align: start;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
#vermas {
  margin-top:5vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
#vermas>*{ 
  flex: 1 1 125px;
}
#vermas-card{
  width: 100%;
  height: auto;
}
#prever{
  height: 80vh;
}
#about-img{
    height: auto;
    width: 100%;
}
.a {
  font-family: "Oswald", sans-serif;
  text-align: start;
  color: black;
  text-decoration: none;
}

.about-us{
  height: auto;
   width: 90%;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 10vh;
    padding-top:10vh;
}
.about-us > *{
  flex: 1 1 200px;
}

a{
  text-decoration: none;
}
.product-list-lowvh{
  display:block;
}
.product-list-fullsize{
  display:none;
}

@media (min-width: 720px){


.product-list-lowvh{
  display:none;
}
.product-list-fullsize{
  display:block;
}
}