.galery{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    gap: 2vh;
    justify-content: space-around;
}

.galery-left{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 80vh;
    width: 26vh;
}
.galery-left img{
    object-fit: cover;
    margin-top: 0.5vh;
    height:25vh;
    width: 25vh;
}
.galery-right img{
    height: 80vh;
    width: 70vh;
}
.product-details
{   font-family: 'Sofia Sans', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;

}



.botones-grid{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 50% 50%;
    gap: 2%;
}
.botones-grid span{
    display: flex;
    flex-direction: column;

}
.more-prod{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.more-prod-galery{
    display: flex;
    gap: 2vh;
}
.more-prod-galery img{
    margin: 0.5vh 0.5vh 0.5vh 0.5vh;
}
input[type="radio"] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1FBED6;
    background-color: white;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  
  input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
  }
  
  input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
    background-color: #1FBED6;
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }